html {
    height: 10%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-size: 14px;
}
@media (max-width: 600px) {
    html {
        font-size: 14px;
    }
}
body {
     height: 100%;
     width: 100%;
     margin: 0px;
     padding: 0px;
     background-repeat: no-repeat;
}

a {
    text-decoration: none !important;
    color: inherit !important;
    cursor: pointer !important;
}

* {
    outline: unset !important
}

#root {
    height: 100%
}

main {
    background-color: #fff;
    text-indent: 0em;
    padding: 0px;
}
nav {
    background-color: white;
    height: 180px;
    box-shadow: 0 1px 10px 0 rgba(53, 66, 92, 0.08);
}
ul{
    list-style: none
}

@media (max-width: 900px) {
    nav {
        height: 110px;
    }

}

@media (max-width: 500px) {
    nav {
        height: 64px;
    }
}

header {
    height: 225px;
    z-index: 10000;
    background-color: white;
}

@media (max-width: 900px) {
    header {
        height: 110px;
    }

}

@media (max-width: 500px) {
    header {
        height: 114px;
    }
}



